.footer{
    display: flex;
    justify-content: center;
    padding: 34.94px 0 24px;
}

.footer__copyright{
    font-size: 16px;
    font-family: "Inter-Regular", sans-serif;
    margin: 0;
}

@media screen and (max-width: 1024px){
    .footer{
        padding: 44px 0 22px;
    }
    .footer__copyright{
        font-size: 16px;
        max-width: 194px;
        width: 100%;
        height: 16px;
    }
}

@media screen and (max-width: 544px){
    .footer{
        padding: 32px 0 24px;
    }
    .footer__copyright{
        font-size: 14px;
        max-width: 194px;
        width: 100%;
        height: 14px;
    }
}