header{
    display: flex;
    justify-content: center;
    padding: 34px 0;
}

.header__logo{
    width: 254.84px;
    height: 68px;
}

@media screen and (max-width: 1024px) {
    .header{
        padding: 30px 0 45px;
    }
    
    .header__logo{
        width: 254px;
        height: 66px;
    }
}

@media screen and (max-width: 544px) {
    .header{
        padding: 20px 0 25px;
    }
    .header__logo{
        width: 188px;
        height: 52px;
    }
}