.intro{
    display: flex;
    flex-direction: column;
    max-width: 830px;
    padding: 34.94px 302px 57.06px 148px;
}

.intro__title{
    font-size: 54px;
    margin: 0 0 32px;
}

.intro__text{
    font-size: 24px;
    font-family: "Inter-Regular", sans-serif;
    max-width: 738px;
    margin: 0;
}

.intro__text_author{
    max-width: 732px;
    max-height: 34px;
    margin: 10px 0 32px;
    display: flex;
    justify-content:flex-end;
    font-family: "Inter-Regular", sans-serif;
    font-style: normal;
    font-size: 18px;
}

.intro__text_small{
    max-width: 722px;
    font-size: 16px;
    height: 181.54px;
}

@media screen and (max-width: 1024px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 720px;
        width: 100%;
        padding: 45px 0 44px;
    }
    .intro__title{
        font-size: 45px;
        margin: 0 0 50px;
        max-width: 100%;
    }
    .intro__text{
        font-size: 24px;
        max-width: 100%;
        height: auto;
    }
    .intro__text_author{
        max-width: 100%;
        margin: 26px 0 32px;
        max-height: 32px;
        font-size: 24px;
    }
    .intro__text_small{
        max-width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 544px){
    .intro{
        padding: 32px 0;
        max-width: 288px;
        width: 100%;
    }
    .intro__title{
        font-size: 32px;
        margin-bottom: 40px;
        max-width: 100%;
        width: 100%;
    }
    .intro__text{
        font-size: 24px;
        max-width: 100%;
        width: 100%;
    }
    .intro__text_author{
        font-size: 24px;
        max-width: 100%;
        width: 100%;
        max-height: 34px;
        margin: 10px 0 32px;
    }
    .intro__text_small{
        max-width: 288px;
        width: 100%;
        font-size: 16px;
    }
}