.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 76.875%;
    margin: 0 auto;
    padding: 57.06px 0;
}

.lead__title {
    margin: 0;
    text-align: center;
    height: 200px;
    max-width: 73.171%;
    font-size: 96px;
    font-weight: bold;
}

.lead__subtitle {
    margin: 32px 0 64px;
    height: 72px;
    line-height: 1.5;
    font-size: 24px;
    font-family: "Inter-Regular", sans-serif;
    font-weight: normal;
    max-width: 73.171%;
    text-align: center;
}

.lead__image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .lead{
        padding: 45px 0;
        max-width: 100%;
        margin: 0;
    }
    .lead__title{
        font-size: 75px;
        max-width: 70.52%;
        margin-bottom: 25px;
    }
    .lead__subtitle{
        margin: 0;
        font-size: 30px;
        max-width: 721px;
        margin-bottom: 30px;
    }
    .lead__image {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        display: block;
    }
}

@media screen and (max-width: 544px){
    .lead{
        padding: 25px 0 32px;
        max-width: 100%;
    }
    .lead__title{
        font-size: 40px;
        max-width: 228px;
        width: 100%;
        height: 88px;
    }
    .lead__subtitle{
        font-size: 16px;
        max-width: 288px;
        width: 100%;
        height: 40px;
        margin-bottom:40px;
    }
    .lead__image {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        display: block;
    }
}