.page{
    background-color: #2A2C2F;
    color: #ffffff;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 544px) { /* ✅ Cambia 554px por 544px */
    .page {
        margin: 0;
    }
}