.places {
  padding: 46px 0 59px;
  max-width: 987px;
  font-family: "Inter-Regular";
  place-self: center;
}

.places__place {
  display: grid;
  padding: 40px 0 40px;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: repeat(1, 460px 1fr);
  grid-template-rows: auto 460px auto;
}

.places__place:first-child {
  padding-top: 0px;
}

.places__place:last-child {
  padding-bottom: 0px;
}

.places__title {
  font-family: "Inter-Black";
  font-size: 72px;
  margin: 0;
}

.places__website {
  align-self: flex-end;
}

.places__url-heading {
  font-family: "Inter-Regular";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
  color: #aaaaaa;
}

.places__artist {
  margin: 8px 0 0;
  font-family: "Inter-Regular";
  line-height: 1.5;
  color: #ffffff;
}

.places__artist_no-margin:nth-of-type(1) {
  margin-bottom: 0;
}
.places__artist_no-margin:last-child {
  margin-top: 0;
}

.places__image {
  max-width: 460px;
  width: 100%;
  max-height: 460px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.places__image:hover {
  opacity: .5;
}

.places__link {
  text-decoration: none;
  max-width: 289px;
  align-self: start;
}

.places__button-text {
  max-width: 289px;
  width: 100%;
  min-height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places__link:hover .places__button-text {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
}
.places__paragraphs {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  font-size: 18px;
}

.places__text{
  max-width: 484px;
  width: 100%;
  line-height: 1.5;
}

.places__paragraph:first-child {
  margin: 0 0 25px;
}

/* Elementos pares (2, 4, 6...) */
.places__paragraph:nth-child(even) {
  margin: 0 0 25px;
}

/* Elementos impares (1, 3, 5...) */
.places__paragraph:nth-child(odd) {
  margin: 0 0 25px;
}

.places__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .places{
    max-width: 720px;
    place-self: center;
    padding: 44px 0 45px;
  }

  .places__place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    column-gap: 28px;
  }
  .places__title {
    font-weight: 900;
    font-size: 42px;
  }

  .places__url-heading {
    max-width: 67px;
    width: 100%;
    font-size: 12px;
  }

  .places__artist {
    font-size: 18px;
    max-width: 352px;
    width: 100%;
  }

  .places__image {
    max-width: 340px;
    width: 100%;
    max-height: 340px;
    width: 100%;
  }
  .places__text{
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .places{
    max-width: 320px;
    padding: 31px 0 32.5px;
    align-self: center;
  }

  .places__place {
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-self: center;
  }
  .places__title {
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    align-self: center;
  }

  .places__website {
    max-width: 288px;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .places__url-heading {

    min-width: 288px; /* Cambia min-width por max-width */
    width: 100%;
  }

  .places__artist {
    max-width: 288px; /* Cambia min-width por max-width */
    width: 100%;
  }

  .places__image {
    align-self: center;
    box-sizing: border-box;
    max-width: 320px;
    width: 100%;
  }
  .places__paragraphs {
    align-self: center;
    max-width: 288px;
    width: 100%;
  }
    .places__text{
    max-width: 288px;
    width: 100%;
  }

  .places__link{
    align-self: center;
    max-width: 288px;
    width: 100%;
  }
}