.places{
  padding: 46px 0 59px;
  max-width: 987px;
  font-family: "Inter-Regular";
  place-self: center;
}

.places__place{
  display: grid;
  padding: 40px 0 40px;
  max-width: 984px;
  width: 100%;
  column-gap: 40px;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "places__title places__website"
  "places__image places__paragraphs"
  "places__link .";
}

.places__place:first-child{
  padding-top: 0px;
}
.places__place:last-child{
  padding-bottom: 0px;
}

.places__title {
  grid-area: places__title;
  font-family: "Inter-Black";
  font-size: 72px;
  max-width: 460px;
  width: 100%;
  margin: 0 0 48px;
}

.places__website {
  grid-area: places__website;
  align-self: flex-end;
}

.places__url-heading{
  font-family: 'Inter-Regular';
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #AAAAAA;
}

.places__artist{
  margin: 8px 0 48px;
  font-family: 'Inter-Regular';
  line-height: 22px;
  color: #FFFFFF;
}

.places__artist_no-margin:nth-of-type(1){
  margin-bottom: 0;
}
.places__artist_no-margin:last-child{
  margin-top: 0;
}

.places__image{
  width: 460px;
  height: 460px;
  grid-area: places__image;
  box-sizing: border-box;
  border: 1px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}
.places__paragraphs{
  font-size: 18px;
  grid-area: places__paragraphs;
}

.places__paragraph{
  max-width: 484px;
  width: 100%;
}

.places__paragraph:first-child{
  margin: 0 0 25px;
}

/* Elementos pares (2, 4, 6...) */
.places__paragraph:nth-child(even) {
  margin: 0 0 25px;
}

/* Elementos impares (1, 3, 5...) */
.places__paragraph:nth-child(odd) {
  margin: 0 0 25px;
}

.places__paragraph:last-child {
  margin: 0;
}

.places__link{
  grid-area: places__link;
  max-width: 289px;
  max-height: 48px;
  height: 100%;
  width: 100%;
  place-self: flex-start;
  text-align: center;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
}